<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/moviezone.css' %}">
  <link rel="stylesheet" href="{% static 'css/wave.css' %}">
  <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <a href="#" class="logo"><img src="{% static 'assets/logo1.png' %}"></a>
    <a href="https://in.bookmyshow.com/venue/pvr-phoenix-lower-parel/PCOF-PCOF" target="blank" class="booknowbtn bn38">Book Now</a>
  </header>
{% comment %}  4dx   {% endcomment %}
   <div class="container-fluid fourdx" id="fourdx">

    <div class="container-fluid dx1">
      <center>
        <div class="overlay">
          <img src="{% static 'assets/4dxBlue.png' %}">
          
        </div>
      </center>


      <div class="video">
        <video width="320" height="240" autoplay muted loop>
          <source src="{% static 'assets/wave1.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="container-fluid dx1">
      <center>
        <div class="overlay">
          <img src="{% static 'assets/4dxWhite.png' %}">
        </div>
      </center>


      <div class="video">
        <video width="320" height="240" autoplay muted loop>
          <source src="{% static 'assets/snowfall.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="container-fluid dx1">
      <center>
        <div class="overlay">
          <img src="{% static 'assets/4dxBlack.png' %}">
        </div>
      </center>


      <div class="video">
        <video width="320" height="240" autoplay muted loop>
          <source src="{% static 'assets/space.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>


  </div>


<!--Cards section-->

<!-- cards section -->


<div class="container- cardscontainer">


  <div class="card1">
    <div class="circle"></div>
    <div class="content">
      <h2>Captain America</h2>
      <p>Director: Joe Johnston<br>Production company : Marvel Studios</p>
      <a href="https://in.bookmyshow.com/venue/pvr-phoenix-lower-parel/PCOF-PCOF" target="blank">Book Now</a>
    </div>
    <img src="{% static 'assets/capamerica1.png' %}">
  </div>
  

  <div class="card1">
    <div class="circle"></div>
    <div class="content">
      <h2>Captain Marvel</h2>
      <p>Directors: Anna Boden, Ryan Fleck <br>Production company : Marvel Studios </p>
      <a href="https://in.bookmyshow.com/venue/pvr-phoenix-lower-parel/PCOF-PCOF" target="blank">Book Now</a>
    </div>
    <img src="{% static 'assets/capmarvel.png' %}">
  </div>

</div>

<div class="container- cardscontainer">


  <div class="card1">
    <div class="circle"></div>
    <div class="content">
      <h2>Toy Story</h2>
      <p>Director: Josh Cooley <br> Screenplay by: Andrew Stanton; Stephany Folsom</p>
      <a href="https://in.bookmyshow.com/venue/pvr-phoenix-lower-parel/PCOF-PCOF" target="blank">Book Now</a>
    </div>
    <img src="{% static 'assets/toy-story.png' %}">
  </div>

  <div class="card1">
    <div class="circle"></div>
    <div class="content">
      <h2>John Wick</h2>
      <p>Director: Chad Stahelski <br> Produced by: Basil Iwanyk; David Leitch; Eva Longoria; Michael Witherill </p>
      <a href="https://in.bookmyshow.com/venue/pvr-phoenix-lower-parel/PCOF-PCOF" target="blank">Book Now</a>
    </div>
    <img src="{% static 'assets/johnwick.png' %}">
  </div>

</div>


<!--Now Showing section -->




<!-- Site footer -->

  <div class="container-fluid footermovie">
    <footer>
      <div class="row movierow">
        <div class="col">
          <img src="{% static 'assets/logo1.png' %}" class="footerlogomovie">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptate velit voluptatem pariatur quasi
            aliquid ex eius blanditiis obcaecati, repellat, itaque nisi magni, tempora ipsa explicabo minus quas
            voluptatum culpa.</p>
        </div>
        <div class="col">
          <h3>Our Partners</h3>
          
          <p>4DX</p>
          <p>Dolby Atmos</p>
          <p>IMAX</p>
        
        </div>
        <div class="col">
          <h3>Contact US !</h3>

          <h4>Address</h4>
          <hr>
          <p>name studios</p>
          <p>level 3</p>
          <p>City Mall, Marine Drive</p>
          <p>Mumabi, 400 001</p>
          <hr>
          <p>022- 1234 8888/9999/0000</p>
          <br><br>


          <div class="social-menu">
            <ul>
                <li><a href="https://github.com/kunalsanwadkar01" target="blank"><i class="fab fa-github"></i></i></a></li>
                <li><a href="https://www.instagram.com/kunal_sanwadkar/?utm_medium=copy_link" target="blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/kunal-sanwadkar-425059196" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
                
            </ul>
        </div>

        </div>
      </div>
    </footer>

  </div>
<!-- loader  -->
{% comment %} <div class="loader-container">
  <img src="{% static 'assets/8OfD.gif' %}" alt="">
</div> {% endcomment %}
  
<script src="{% static 'js/jsmovie.js' %}"></script>
<script src="{% static 'js/dx.js' %}"></script>
</body>
</html>